/* components/Card.module.css */
.card {
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Add cursor pointer for indicating clickability */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition for smooth animation */
    max-width: 100%; /* Ensure the card can take full width if needed */
}

.card.active {
    transform: scale(0.75) translate(-50%, -50%); /* Zoom to 75% of screen size */
    position: fixed; /* Fix the position for zooming effect */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    z-index: 1000; /* Ensure it's on top of other content */
    width: 75vw; /* Set width to 75% of viewport width */
    height: 75vh; /* Set height to 75% of viewport height */
    max-width: none; /* Remove max-width to allow full width in zoomed state */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Larger shadow when active */
}

.qrWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.heading {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-top: 70px; /* Adjust to avoid overlapping with QR code */
}

.text {
    font-size: 14px;
    color: #666666;
    margin-top: 20px; /* Ensure there is some space between the heading and text */
}
